<!DOCTYPE html>
<html>
  <head>
    <title>ItNihongo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="display: flex; align-items: center">
      <% if user_signed_in? %>
        <h1>Hello <%= current_user.email %></h1>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to current_user.name , users_show_path %>
      <% else %>
        <%= link_to "サインイン", new_user_session_path %>
        <%= link_to "ユーザー登録", new_user_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
